{% extends 'base.html' %}

{% block content %}
<section class="analysis">
    <h2>Analyses Techniques</h2>
    <div class="analysis-content">
        <h3>Analyses Graphiques</h3>
        <ul>
            <li>Supports et résistances</li>
            <li>Moyennes mobiles</li>
            <li>Bandes de Bollinger</li>
        </ul>
        <h3>Indicateurs Techniques</h3>
        <ul>
            <li>RSI (Relative Strength Index)</li>
            <li>MACD (Moving Average Convergence Divergence)</li>
            <li>Fibonacci retracement</li>
        </ul>
        <h3>Outils de Dessin</h3>
        <ul>
            <li>Ligne de tendance</li>
            <li>Canaux</li>
        </ul>
    </div>
</section>
{% endblock %}
