<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CryptoMarketGenius</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{{ url_for('static', filename='js/scripts.js') }}" defer></script>
</head>
<body>
    <header>
        <h1>CryptoMarketGenius</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('markets') }}">Marchés en Direct</a></li>
                <li><a href="{{ url_for('analysis') }}">Analyses Techniques</a></li>
                <li><a href="{{ url_for('news') }}">Actualités et Tendances</a></li>
                <li><a href="{{ url_for('portfolio') }}">Portefeuille</a></li>
                <li><a href="{{ url_for('tools') }}">Outils et Ressources</a></li>
                <li><a href="{{ url_for('community') }}">Communauté</a></li>
                <li><a href="{{ url_for('about') }}">À Propos</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 CryptoMarketGenius</p>
    </footer>
</body>
</html>
